<div data-role="page">
  <div data-role="header">
    <h1>Welcome#index</h1>
  </div>
  <div data-role="content">
    <p>Find me in app/views/welcome/index_smart_phone.html.erb</p>
    <%= link_to 'Exception', exception_path %>
  </div>
  <div data-role="footer">
    <h2>copyright</h2>
  </div>
</div>
