<div data-role="page">
  <div data-role="header">
    <h1>The page you were looking for doesn't exist.</h1>
  </div>
  <div data-role="content">
    <p>Find me in app/views/errors/404_smart_phone.html.erb</p>
  </div>
  <div data-role="footer">
    <h2>copyright</h2>
  </div>
</div>
