<div data-role="page">
  <div data-role="header">
    <h1>We're sorry, but something went wrong.</h1>
  </div>
  <div data-role="content">
    <p>Find me in app/views/errors/500_smart_phone.html.erb</p>
  </div>
  <div data-role="footer">
    <h2>copyright</h2>
  </div>
</div>
